---
---

@import "{{ site.theme }}";

:root {
    --main-color: #c23134;//#155799;
    --alt-color: #e9c843;//#1599573;
    --highlight-color: #ffff0096;
}

// https://dev.to/braydoncoyer/change-text-highlight-color-with-css-80
::selection {
    background: var(--main-color);
    color: var(--alt-color);
}

@media screen and (max-width: 42em){
    img.float-izda, img.float-dcha {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }
}

img.float-izda, img.float-dcha {
    width: 20em;
    max-width: 50%;
}

.float-izda {
    float: left;
    margin-right: 2rem;
}

.float-dcha {
    float: right;
    margin-left: 2rem;
}

.page-header {
    padding: 1rem 2rem;
	background-color: var(--main-color);
	background-image: linear-gradient(120deg, var(--main-color), var(--alt-color));
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: var(--main-color);
}

.project-tagline {
    margin-top: 0;
	margin-bottom: 0;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    background: var(--highlight-color);
    background: linear-gradient(0deg, transparent 0%, var(--highlight-color) 20%,transparent 60%);
    filter: contrast(160%);
}

.highlight code {
	background: transparent;
}

.evento {
	text-decoration: underline var(--main-color);
	text-decoration-thickness: .12rem;
}
